/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .kitten-block {
  display: flex;
 }

.kitten-block div:nth-child(2) {
  align-self: center;
 }

.kitten {
  border: 2px solid black;
  width: 200px;
  padding: 5px;
  margin: 10px;
  margin-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 50px;
}

.kitten div:nth-child(odd) {
  grid-column: 1;
}

.kitten div:nth-child(even) {
  grid-column: 2;
}

.action-btn {
  display: flex;
  margin-top: 8px;
  gap: 10px
}
