<h1>Search Flight</h1>
<div class="container">
  <div>
    <%= render "search_form"  %>
  </div>
  <% if @flights.empty? == false %>
    <div>
      <%= render "search_result_form" %>
    </div>
  <% end %>
</div>
