<h1>My Events</h1>

<div>
  <% @events.each do |event| %>
    <div>
      <b><%= event.location %></b>
      <%= event.date %>
    </div>
  <% end %>
</div>

<div>
  <h3>Joined Events</h3>
  <ol>
  <% @user.attended_event.each do |event| %>
    <li>
      <b><%= event.location %></b> Host: <%= event.creator.username %>
    </li>
  <% end %>
  </ol>

</div>
