<h1>All kittens</h1>

<% @kittens.each do |kitten| %>
  <%= render "kitten", kitten: kitten %>
<% end %>

<div class="action-btn">
  <%= button_to "New Kitten", new_kitten_path, :method => :get %>
</div>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
